@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --headerColor: #3d3d3d;
  --white: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  min-height: 80vh;
}
