body {
	padding: 1rem;
}

#output {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.container {
	border-bottom: 2px solid rgb(205, 205, 205);
  padding: 1rem 1.5rem;
}

h1 {
	text-align: center;
	color: red;
}

span {
	font-weight: bold;
	color: black;
}

p {
	color: gray;
}
