<div class="homeWrapper">
	<div class="infoContainer">
		<h4>Contact Manager</h4>
		<p class="info">
			This is a portfolio project to showcase
			knowledge of:
		</p>

		<ol class="infoList">
			<li>React Components and JSX.</li>
			<li>React Router.</li>
			<li>Component state management.</li>
			<li>
				Context api for global state management.
			</li>
			<li>
				Making asynchronous calls to the Json
				placeholder fake rest api using "async/await"
			</li>
		</ol>
	</div>

	<app-contact-card></app-contact-card>
</div>
