<ul>
	<li *ngFor="let data of userContact">
		<div class="carousel">
			<div class="nameDiv">
				<p class="name">{{data.fullname}}</p>
				<i class="bi bi-chevron-double-down"></i>
			</div>

			<div class="nameDiv">
				<a [routerLink]="['/edit', 1232323 ]"> www
					<i class="bi bi-pencil-square"></i>
				</a>

				<p class="iconRed">X</p>
			</div>
		</div>

		<div class="extraInfo">
			<p><span>Email:</span> {{data.email}}</p>
			<p><span>Phone:</span> {{data.phone}}</p>
		</div>
	</li>
</ul>
