header .contact-hero {
	background: #ffffff url("../images/about-1.jpg")
		no-repeat top center/cover;
}

section {
	padding: 5rem 3.5rem;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-1 {
	text-align: center;
	gap: 20px;
}

.actions {
	border: 1px solid #e4e4e4;
	padding: 20px;
	width: 100%;
	max-width: 250px;
	height: 200px;

	flex-direction: column;
}

.actions .icon {
	background-color: #ddb53c;
	border: 3px solid #e9e9e9;
	box-shadow: 1px 1px 47px 0px rgba(96, 96, 96, 0.75);
	color: #e4e4e4;

	display: inline-block;
	border-radius: 50%;
	padding: 10px;
	align-self: center;
	margin-bottom: 20px;
}

.actions p {
	font-size: 0.7rem;
	margin-top: 10px;
}

.section-2 {
	flex-direction: column;
	background-color: #a5cbe585;
}

.section-2 .message {
	font-weight: 900;
	font-size: 25px;
	line-height: 1.4;
	margin-bottom: 17px;
}

.message span {
	color: rgba(0, 0, 255, 0.618);
}

.section-2 form {
	flex-direction: column;
	width: 90%;
	max-width: 550px;
}

.input-text {
	width: 100%;
	gap: 20px;
}

.input-wrapper {
	display: flex;
	background-color: #f5f5f5;
	align-items: flex-start;
	padding: 0.9rem 0.7rem;

	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}

.input-wrapper i {
	margin-right: 10px;
}

.input-wrapper input,
.input-wrapper textarea {
	border: none;
	outline: none;
	padding: 0 0.5rem;
	width: 95%;
	background-color: inherit;
}

::placeholder {
	color: #7e7e7e;
	font-size: 0.7rem;
}

textarea {
	resize: none;
}

.contact-btn {
	border-radius: 0;
	background-color: rgb(62, 62, 235);
}
