@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	width: 100vw;
}

nav {
	background: #fff;
	width: 100%;
	height: 70px;
	padding: 1.5rem 3.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: unset;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

nav .logo {
	height: 50px;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

nav ul .nav-items {
	margin: 0 15px;
	color: #909090;
	font-size: 1.1rem;
}

button {
	padding: 0.5rem 0.9rem;
	text-align: center;

	border: none;
	border-radius: 50px;
	background-color: #1e1e1e;
	color: #fff;
	cursor: pointer;
}

header .hero {
	margin-top: 70px;
	width: 100%;
	height: calc(100vh - 70px);
	background: #ffffff
		url("../images/home-1.jpg")
		no-repeat bottom center/cover;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}

header .hero:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1)
		linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.1) 0px,
			rgba(0, 0, 0, 0.6) 100%
		)
		repeat 0 0;
	z-index: 1;
}

header .hero-text {
	display: block;
	text-align: center;
	position: absolute;
	color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-weight: 900;
	font-size: 2rem;
	z-index: 2;
}

header .hero-link span,
header .hero-link a {
	font-weight: 500;
	color: #fff;
	font-size: 1.1rem;
}

header .hero-link span {
	margin: 0 0.3rem;
}

footer {
	padding: 2rem 3.5rem 0.5rem;
	background-color: #2c052d;
	text-align: center;
	color: #ffffff;
}

.footer-heading {
	margin-bottom: 75px;
}

.footer-heading h2 {
	font-weight: 900;
	font-size: 25px;
	line-height: 1.4;
	margin-bottom: 17px;
}

.footer-heading .footer-btn {
	background-color: #fff;
	color: #1e1e1e;
}

.footer-nav {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	text-align: left;
	margin: 0 auto;
}

.footer-info {
	display: flex;
	flex-direction: column;
}
.footer-info h4 {
	margin-bottom: 15px;
}

.footer-links {
	color: #cfcdcd;
	font-weight: 300;
	margin-bottom: 10px;
}

.footer-icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.footer-icons .icon i {
	color: #fff;
}

.footer-email {
	margin-bottom: 10px;
}

.footer-email p {
	margin-bottom: 0px;
}
