@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

li {
	list-style: none;
}

body {
	background: #8a2387;
}

.wrapper {
	width: 100%;
	max-width: 405px;
	margin: 120px auto;
	background: #fff;
	border-radius: 7px;
	padding: 28px 0;
}

.task-input {
	height: 52px;
	padding: 0 25px;
	position: relative;
}
.task-input button {
	position: absolute;
	top: 50%;
	right: 17px;
	transform: translate(-17px, -50%);
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	border-radius: 4px;
	padding: 7px 13px;
	background: #3c87ff;
}
.task-input input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 0 53px 0 20px;
}
.task-input input::placeholder {
	color: #bfbfbf;
}

.controls,
li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.controls {
	padding: 18px 25px;
	border-bottom: 1px solid #ccc;
}
.filters span {
	cursor: pointer;
	margin: 0 8px;
	font-size: 17px;
	color: #bfbfbf;
}
.filters span:first-child {
	margin-left: 0;
}
.filters span.active {
	color: #8a2387;
	font-weight: bold;
}
.controls .clear-btn {
	outline: none;
	border: none;
	color: #8a2387;
	cursor: pointer;
	font-size: 13px;
	border-radius: 4px;
	padding: 7px 13px;
	background: inherit;
	border: 1.2px solid #8a2387;
}

.task-box {
	margin: 20px 25px;
}
.task-box .task {
	font-size: 17px;
	margin-bottom: 18px;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}
.task-box .task:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.task label {
	display: flex;
}
.task label input {
	margin: 6px 12px 0 0;
}
.task label p.checked {
	text-decoration: line-through;
	color: #bfbfbf;
}
.task .settings {
	cursor: pointer;
	position: relative;
}
.settings .task-menu {
	position: absolute;
	padding: 5px 0;
	right: -5px;
	bottom: -65px;
	z-index: 2;
	transform: scale(0);
	border-radius: 5px;
	background: #fff;
	transform-origin: top right;
	transition: transform 0.2s ease;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
/* .settings:hover .task-menu */
.settings .task-menu.show {
	transform: scale(1);
}

.task-menu li {
	height: 25px;
	font-size: 16px;
	padding: 17px 15px;
	margin-bottom: 2px;
	justify-content: flex-start;
}
.task-menu li:last-child {
	margin-bottom: 0;
}
.task-menu li:hover {
	background: #f5f5f5;
}
.task-menu li i {
	padding-right: 8px;
}
